.analysis-content {
    display: grid;
    grid-row: span 4;
    gap: 1rem 1rem;
    grid-template-columns: 100px 450px auto 250px;
    justify-content: center;
    padding-top: 10px;
    
}

.small {
    width: 65%; 
    border: 1px solid rgb(10, 10, 10);
}

.analysis-content h1 {
    grid-column: 2 / 2;
}

.link-color {
    grid-column: 2 / span 1;
    grid-row: 2;

    border: 3px solid $accent-color;
    padding: 1rem;

    border-radius: 10px;
    background: #AAD1F0;

    a {
        text-decoration: none;
        padding-left: 35px;
    }
}

.link-load {
    grid-column: 2 / span 1;
    grid-row: 3;

    border: 3px solid $accent-color;
    padding: 1rem;

    border-radius: 10px;
    background: #AAD1F0;

    a {
        text-decoration: none;
        padding-left: 35px;
    }
}

.link-design-principles {
    grid-column: 2 / span 1;
    grid-row: 4;

    border: 3px solid $accent-color;
    padding: 1rem;

    border-radius: 10px;
    background: #AAD1F0;

    a {
        text-decoration: none;
        padding-left: 8px;
    }
}


.link-color:hover {
    background-color: $navbar-color;
}

.link-load:hover {
    background-color: $navbar-color;
}

.link-design-principles:hover {
    background-color: $navbar-color;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.kalkylark {
    position: relative;
    margin-left: 23%;

    iframe {
        height: 250px;
        width: 960px;
        border: 3px dotted $navbar-color;
    }
}
