.header {
    background-color: $header-background-color; 

    a {
        text-decoration: none;
    }
}


.nav {
    background-color: $navbar-color; 
    font-size: 1.3rem;
    border-bottom: 3px solid $accent-color;
    border-top: 3px solid $accent-color;
    
    ul {
        width: 50rem;
        margin-left: 460px;
    
       
    }
}



.logo img {
    float: left;
    padding-left: 120px;
    padding-right: 1px;
    padding-top: 10px;
    filter: contrast(500%);
}


.title {
    text-align: left;
    padding-top: 80px;
    padding-left: 1px;

}