.header {
    background-color: $header-background-color; 
}

.nav {
    font-size: 1.3rem;
    border: 3.5px dashed rgb(19, 18, 18);
    border-radius: 0.5em;
    width: 770px;
    margin-left: 510px;
    margin-top: 80px;
    background-color: $background-color; 
}

.nav ul {
    width: fit-content;
    margin: 0;

    a { 
        font-size: 1em;
    }
}

.logo img {
    float: left;
    margin-left: 560px;
    filter: contrast(100%);
}


.title {
    margin-left: 740px;
    padding-top: 50px;

    p {
        font-weight: bold;
        position: relative;
    }
}