.slide {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    transition: height 0.5s ease-in !important;
}

.hidden {
    display: none !important;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: #333; 
}

.nav-toggle {
    display: none;
}

body {
    overflow-x: hidden !important;
}



@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
        max-width: 100%;
        
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
       
        
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
        
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    p {
        max-width: 100%;
    }

    .nav {
        max-width: 50%;
        margin-left: 25%;
        border: 0;

        ul {
            border: 3px dashed rgb(24, 23, 23);
            border-radius: 4px;
        }
    }

    body {
        max-width: 100%;
    }


    .nav-toggle {
        border: 3px dashed rgb(24, 21, 21);
        border-radius: 4px;
    }
    
    .footer {
        position: fixed;
        bottom: 0;
        max-width: 100%;
    }

    .header {
        max-width: 100%;
    }

    .title {
        max-width: 100%;
        margin-left: 0;
    }

    .img-me img {
        display: none;
    }

    .logo {
        max-width: 100%;

        img {
            display: none !important;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        max-width: 100%;
    }

    .main {
        max-width: 100%;
        margin-bottom: 50px;
        overflow-x: hidden !important;

    }

    .main {
        table {
            max-width: 80%;
        }

        pre {

            max-width: 100%;
        }

        ol {
            max-width: 80%;
        }

        ul {
            max-width: 80%;
        }
    }

    .title h1 {
        max-width: 100%;
    }

    .tech-menu {
        display: none;
    }

    .article-content {
        max-width: 100%;
    }

    pre {
        max-width: 100%;
    }
    
   

    .landingpage {
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 10px 10px 10px;
        justify-content: center;
        gap: 1rem;
        grid-row: span 8;
        max-width: 100%;
    }

    .landingpage {  
        .box-img1 {
            grid-column: 1 / 1;
            grid-row: 9 / 9;
        }

        .box-img2 {
            grid-column: 1 / 1;
            grid-row: 10 / 10;
        }

        .box-img3 {
            grid-column: 1 / 1;
            grid-row: 11 / 11;
        }

        .box-img1 img {
            display: none;
            
        }

        .box-img2 img {
            display: none;
        }

        .box-img3 img {
            display: none;
        }

        h1 {
            grid-column: span 1;
        }

    }

    .landingpage {
        .box {
            border: 1px solid $navbar-color;
            height: 80px;
            width: 200px;
            margin: 2em;

            h1 {
                font-size: 1rem;
                text-align: center;
            } 
        }

        .box:nth-child(1) {
            grid-column: 1 / span 1;
            grid-row: 2 / 2;
        }
    
        .box:nth-child(2) {
            grid-column: 1 / 1;
            grid-row: 3 / 3; 
        }
    
        .box:nth-child(3) {
            grid-column: 1 / 1;
            grid-row: 4 / 4; 
        }
    
        .box:nth-child(4) {
            grid-column: 1 / 1;
            grid-row: 5 / 5;
        }
    
        .box:nth-child(5) {
            grid-column: 1 / 1;
            grid-row: 6 / 6;
        }
    
        .box:nth-child(6) {
            grid-column: 1 / 1;
            grid-row: 7 / 7;
        }
    
        .box:nth-child(7) {
            grid-column: 1 / 1;
            grid-row: 8 / 8;   
        }

    }

    .gallery-content {
        display: grid;
        grid-row: span 10;
        grid-template-columns: 80%;
    }
    
    .gallery-content h1 {
        grid-column: span 1;
    }

    .gallery-content {
        img {
            max-width: 100%;
        }
    }

    .analysis-content {
        display: grid;
        grid-row: span 4;
        grid-template-columns: 70%;
        justify-content: center;
        margin-left: 0;
        max-width: 100%;

        img {
            display: none;
        }
    }

    .analysis-content h1 {
        grid-column: span 1;
    }

    .video {
        width: 100%;
        margin-left: 0;
    }

    .analysis-content {
        .link-color {
            grid-column: span 1;
            grid-row: 2;

            h1 {
                font-size: 1em;
            }
        }
            
        .link-load {
            grid-column: 1;
            grid-row: 3;

            h1 {
                font-size: 1em;
            }
        }

        .link-design-principles {
            grid-column: 1;
            grid-row: 4;

            h1 {
                font-size: 1.5em;
            }
        }
    }
}
    


