@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lexend+Deca:wght@700&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nova+Square&family=Roboto+Condensed&family=Work+Sans:wght@500&display=swap');

$font-color-dark: #fff;
$font-alternative-color: #fff;
$accent-color-dark: #232B33;
$background-color-dark: #2A4157;
$background-alternative-color: #BD9FA4;
$footer-background-color-dark: #2A4157;
$header-background-color-dark: #232B33;
$navbar-color-dark: #2A4157;
$font-title1-color-dark: #AACDF0;

$header-font1: 'Nova Square', sans-serif;
$header-font2: 'Work Sans', sans-serif;
$main-font: 'Inter', sans-serif;
$navbar-font: 'Work Sans', sans-serif;