@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lexend+Deca:wght@700&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nova+Square&family=Roboto+Condensed&family=Work+Sans:wght@500&display=swap');

$font-color: #181616;
$font-alternative-color: #fff;
$accent-color: #AABBF0;
$background-color: #E6EBEA;
$background-alternative-color: #BD9FA4;
$footer-background-color: #E6EBEA;
$header-background-color: #AAE7F0;
$navbar-color: #B0AAF0;
$font-title1-color: #181616;

$header-font1: 'Nova Square', sans-serif;
$header-font2: 'Work Sans', sans-serif;
$main-font: 'Inter', sans-serif;
$navbar-font: 'Work Sans', sans-serif;