{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
   
        <div class="gallery-content">
             {{ content }}

        </div>
        
        <div class="video">
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/i06gsNuLLKU?si=wORQh0TdLYFBzne2"  title="myFrame" frameborder="0" allowfullscreen</iframe>
        </div>
        </div>
        
    </div>
    
    {% include 'incl/footer.twig' %}
</body>
